body {
				font-family: Viner hand ITC, sans-serif;
				max-width: 800px;
				margin: 0 auto;
				background-color: #59def0;
			}
			h1, h2 {
				text-align: center;
				font-style: italic;
				color:  #d14358;
			}
			h2 {
				font-style: normal;
			}